<div class="employee-personal">
    Thhhha
    <span class="general-heading">
        General Information
    </span>
    <div class="general-info-table">
        <fieldset class="edit-input">
            <legend>Joining Date</legend>
            <input type="date" name="join-date" id="join-date" value="2022-01-31">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Department</legend>
            <input type="text" name="department" id="department" value="Engineering">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Employment Status</legend>
            <input type="text" name="status" id="status" value="Permanent">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Employment Type</legend>
            <input type="text" name="employment-type" id="employemnt-type" value="On-site/Hybrid">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Shift</legend>
            <input type="text" name="shift" id="shift" value="9 AM - 6 PM">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Manager</legend>
            <input type="text" name="manager" id="manager" value="Ali Zubairi">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
    </div>
    <span class="general-heading">
        Contract information
    </span>
    <div class="general-info-table">
        <fieldset class="edit-input">
            <legend>Contract Type</legend>
            <input type="text" name="contract-type" id="contract-type" value="Fixed Term">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Notice Period</legend>
            <input type="text" name="notice-period" id="notice-period" value="2 Months">
            <img src="/assets/arrow_down.svg" alt="Arrow Down">
        </fieldset>
        <fieldset class="edit-input">
            <legend>Start Date</legend>
            <input type="date" name="start-date" id="start-date" value="2022-01-31">
        </fieldset>
        <fieldset class="edit-input">
            <legend>End Date</legend>
            <input type="date" name="end-date" id="end-date" value="2022-01-31">
        </fieldset>
    </div>
    <script>
    </script>
</div>