<div class="employee-documents">
    <span class="general-heading">
        Professional
    </span>
    <div class="professional-docs">
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>experience_letter.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>experience_letter.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>experience_letter.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>experience_letter.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>experience_letter.pdf</span>
        </div>
    </div>
    <span class="general-heading">
        Educational
    </span>

    <div class="educational-docs">
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>master_degree.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>matric_degree.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>result_degree.pdf</span>
        </div>


    </div>

    <span class="general-heading">
        Other Documents
    </span>

    <div class="other-docs">
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>certificate.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>noc_permit.pdf</span>
        </div>
        <div class="file">
            <img src="/assets/pin.svg" alt="File Pin Icon">
            <span>reference_letter.pdf</span>
        </div>
    </div>
</div>