<div class="employee-salary">

    <span class="general-heading">
        Salary Details
    </span>

    <div class="salary-filter-container">
        <div class="search">
            <fieldset>
                <legend>Search</legend>
                <input type="text" placeholder="Name, email, designation etc..." />
            </fieldset>
        </div>
        <button class="upload">
            <img src="/assets/upload.svg" alt="Upload Icon" />
            <span>Upload</span>
        </button>
    </div>
    <div class="employee-container">
        <table>
            <tbody>
                <tr>
                    <th>Salary Month</th>
                    <th>Amount</th>
                    <th>Date of Transfer</th>
                    <th>Transaction Type</th>
                    <th>Actions</th>
                </tr>

                <tr>
                    <td>
                        <div><span>Dec 2023</span>
                        </div>
                    </td>
                    <td>PKR 12,000,000</td>
                    <td>31 Dec, 2023</td>
                    <td>Bank Transfer</td>
                    <td>
                        <div class="actions">
                            <img class="actions-img" src="/assets/eye.svg" alt="Eye Icon" />
                            <div class="action-more">
                                <img class="" src="/assets/download.svg" alt="Menu Icon" />
                                <span>PDF</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div><span>Dec 2023</span>
                        </div>
                    </td>
                    <td>PKR 12,000,000</td>
                    <td>31 Dec, 2023</td>
                    <td>Bank Transfer</td>
                    <td>
                        <div class="actions">
                            <img class="actions-img" src="/assets/eye.svg" alt="Eye Icon" />
                            <div class="action-more">
                                <img class="" src="/assets/download.svg" alt="Menu Icon" />
                                <span>PDF</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div><span>Dec 2023</span>
                        </div>
                    </td>
                    <td>PKR 12,000,000</td>
                    <td>31 Dec, 2023</td>
                    <td>Bank Transfer</td>
                    <td>
                        <div class="actions">
                            <img class="actions-img" src="/assets/eye.svg" alt="Eye Icon" />
                            <div class="action-more">
                                <img class="" src="/assets/download.svg" alt="Menu Icon" />
                                <span>PDF</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><span>Dec 2023</span>
                        </div>
                    </td>
                    <td>PKR 12,000,000</td>
                    <td>31 Dec, 2023</td>
                    <td>Bank Transfer</td>
                    <td>
                        <div class="actions">
                            <img class="actions-img" src="/assets/eye.svg" alt="Eye Icon" />
                            <div class="action-more">
                                <img class="" src="/assets/download.svg" alt="Menu Icon" />
                                <span>PDF</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div><span>Dec 2023</span>
                        </div>
                    </td>
                    <td>PKR 12,000,000</td>
                    <td>31 Dec, 2023</td>
                    <td>Bank Transfer</td>
                    <td>
                        <div class="actions">
                            <img class="actions-img" src="/assets/eye.svg" alt="Eye Icon" />
                            <div class="action-more">
                                <img class="" src="/assets/download.svg" alt="Menu Icon" />
                                <span>PDF</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="border-none">
                    <td class="show-more-employee" colspan="5">
                        <span class="show-more-employee-content">
                            <div class="rows-per-page">
                                <span> Rows per page: 5</span>
                            </div>
                            <div class="count">1-5 of 39</div>
                            <div class="arrow-actions">
                                <img src="/assets/arrow_left.svg" alt="Arrow Left Icon" />
                                <img src="/assets/arrow_right.svg" alt="Arrow Left Icon" />
                            </div>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>