<div class="employee-personal">
    <span class="general-heading">
        Tech Stacks
    </span>
    <div class="technical-info-table">
        <div class="tech">
            <span class="tech-title"><img src="/assets/js-logo.svg" alt="JS Logo"><span>Javascript</span></span>
            <div class="experience">10 Years</div>
        </div>
        <div class="tech">
            <span class="tech-title"><img src="/assets/js-logo.svg" alt="JS Logo"><span>Javascript</span></span>
            <div class="experience">10 Years</div>
        </div>
        <div class="tech">
            <span class="tech-title"><img src="/assets/js-logo.svg" alt="JS Logo"><span>Javascript</span></span>
            <div class="experience">10 Years</div>
        </div>
        <div class="tech">
            <span class="tech-title"><img src="/assets/js-logo.svg" alt="JS Logo"><span>Javascript</span></span>
            <div class="experience">10 Years</div>
        </div>
        <div class="tech">
            <span class="tech-title"><img src="/assets/js-logo.svg" alt="JS Logo"><span>Javascript</span></span>
            <div class="experience">10 Years</div>
        </div>
        <div class="tech">
            <span class="tech-title"><img src="/assets/js-logo.svg" alt="JS Logo"><span>Javascript</span></span>
            <div class="experience">10 Years</div>
        </div>
    </div>
    <span class="general-heading">
        Links
    </span>
    <div class="links-info">
        <div class="links-content"><span class="url">github</span>
            <div><span>Sakura Haruno</span><img src="/assets/external-link.svg" alt="External Link Icon"></div>
        </div>
        <div class="links-content"><span class="url">LinkedIn</span>
            <div><span>sk_hruno</span><img src="/assets/external-link.svg" alt="External Link Icon"></div>
        </div>
        <div class="links-content"><span class="url">Stack Overflow</span>
            <div><span>Sakura_1999</span><img src="/assets/external-link.svg" alt="External Link Icon"></div>
        </div>
    </div>
</div>