<div class="employee-personal">
    <span class="general-heading">
        General Information
    </span>
    <div class="general-info-table">
        <fieldset class="fieldset-no-border">
            <legend>Joining Date</legend>
            <span>15 Dec, 2023</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Department</legend>
            <span>Engineering</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Employment Status</legend>
            <span>Permanent</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Employment Type</legend>
            <span>On-site/Hybrid</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Shift</legend>
            <span>9 AM - 6 PM</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Manager</legend>
            <span>Ali Zubairi</span>
        </fieldset>
    </div>
    <span class="general-heading">
        Contract information
    </span>
    <div class="general-info-table">
        <fieldset class="fieldset-no-border">
            <legend>Contract Type</legend>
            <span>Fixed Term</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Notice Period</legend>
            <span>2 months</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>Start Date</legend>
            <span>15 Dec, 2023</span>
        </fieldset>
        <fieldset class="fieldset-no-border">
            <legend>End Date</legend>
            <span>N/A</span>
        </fieldset>

    </div>
</div>