<div id="swapped" hx-swap-oob="true">
  <div class="employee-page">
    <div class="employee-page-content">
      <span class="header"> Employees </span>
      <div class="filter-container">
        <div class="search">
          <fieldset>
            <legend>Search</legend>
            <input type="text" placeholder="Name, email, designation etc..." />
          </fieldset>
          <img src="/assets/filter.svg" alt="Search Filter Icon" />
        </div>
        <button class="invite">
          <img src="/assets/user-plus-invite.svg" alt="Invitation Icon" />
          <span>Invite new People</span>
        </button>
      </div>

      <div class="employee-container">
        <table>
          <tbody>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Date of Joining</th>
              <th>Actions</th>
            </tr>

            <tr>
              <td>
                <div>
                  <img
                    style="height: 30px; width: 30px"
                    src="/assets/profile_avatar_1.svg"
                    alt="Profile Avatar"
                  /><span>Sakura Haruno</span>
                </div>
              </td>
              <td>name@email.com</td>
              <td>Sr. Software Engineer</td>
              <td>Dec 15, 2023</td>
              <td>
                <div class="actions">
                  <img
                    class="actions-img"
                    src="/assets/eye.svg"
                    alt="Eye Icon"
                  />
                  <img
                    class="actions-img"
                    src="/assets/delete.svg"
                    alt="Delete Icon"
                  />
                  <div class="action-more">
                    <img class="" src="/assets/menu.svg" alt="Menu Icon" />
                    <span>More</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                  <img
                    style="height: 30px; width: 30px"
                    src="/assets/profile_avatar_2.svg"
                    alt="Profile Avatar"
                  /><span>Sauske Uchiha</span>
                </div>
              </td>
              <td>name@email.com</td>
              <td>Sr. Software Engineer</td>
              <td>Nov 15, 2023</td>
              <td>
                <div class="actions">
                  <img
                    class="actions-img"
                    src="/assets/eye.svg"
                    alt="Eye Icon"
                  />
                  <img
                    class="actions-img"
                    src="/assets/delete.svg"
                    alt="Delete Icon"
                  />
                  <div class="action-more">
                    <img class="" src="/assets/menu.svg" alt="Menu Icon" />
                    <span>More</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                  <img
                    style="height: 30px; width: 30px"
                    src="/assets/profile_avatar_1.svg"
                    alt="Profile Avatar"
                  /><span>Naruto Uzumaki</span>
                </div>
              </td>
              <td>name@email.com</td>
              <td>Sr. Software Engineer</td>
              <td>Oct 15, 2023</td>
              <td>
                <div class="actions">
                  <img
                    class="actions-img"
                    src="/assets/eye.svg"
                    alt="Eye Icon"
                  />
                  <img
                    class="actions-img"
                    src="/assets/delete.svg"
                    alt="Delete Icon"
                  />
                  <div class="action-more">
                    <img class="" src="/assets/menu.svg" alt="Menu Icon" />
                    <span>More</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                  <img
                    style="height: 30px; width: 30px"
                    src="/assets/profile_avatar_2.svg"
                    alt="Profile Avatar"
                  /><span>Light Yagami</span>
                </div>
              </td>
              <td>name@email.com</td>
              <td>Sr. Software Engineer</td>
              <td>Jan 15, 2023</td>
              <td>
                <div class="actions">
                  <img
                    class="actions-img"
                    src="/assets/eye.svg"
                    alt="Eye Icon"
                  />
                  <img
                    class="actions-img"
                    src="/assets/delete.svg"
                    alt="Delete Icon"
                  />
                  <div class="action-more">
                    <img class="" src="/assets/menu.svg" alt="Menu Icon" />
                    <span>More</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                  <img
                    style="height: 30px; width: 30px"
                    src="/assets/profile_avatar_1.svg"
                    alt="Profile Avatar"
                  /><span>Misa Amane</span>
                </div>
              </td>
              <td>name@email.com</td>
              <td>Sr. Software Engineer</td>
              <td>Jan 15, 2023</td>
              <td>
                <div class="actions">
                  <img
                    class="actions-img"
                    src="/assets/eye.svg"
                    alt="Eye Icon"
                  />
                  <img
                    class="actions-img"
                    src="/assets/delete.svg"
                    alt="Delete Icon"
                  />
                  <div class="action-more">
                    <img class="" src="/assets/menu.svg" alt="Menu Icon" />
                    <span>More</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div>
                  <img
                    style="height: 30px; width: 30px"
                    src="/assets/profile_avatar_2.svg"
                    alt="Profile Avatar"
                  /><span>Light Yagami</span>
                </div>
              </td>
              <td>name@email.com</td>
              <td>Sr. Software Engineer</td>
              <td>Jan 15, 2023</td>
              <td>
                <div class="actions">
                  <img
                    class="actions-img"
                    src="/assets/eye.svg"
                    alt="Eye Icon"
                  />
                  <img
                    class="actions-img"
                    src="/assets/delete.svg"
                    alt="Delete Icon"
                  />
                  <div class="action-more">
                    <img class="" src="/assets/menu.svg" alt="Menu Icon" />
                    <span>More</span>
                  </div>
                </div>
              </td>
            </tr>

            <tr class="border-none">
              <td class="show-more-employee" colspan="5">
                <span class="show-more-employee-content">
                  <div class="rows-per-page">
                    <span> Rows per page: 5</span>
                  </div>
                  <div class="count">1-5 of 39</div>
                  <div class="arrow-actions">
                    <img src="/assets/arrow_left.svg" alt="Arrow Left Icon" />
                    <img src="/assets/arrow_right.svg" alt="Arrow Left Icon" />
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
